body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: normal;
  letter-spacing: 0.02rem;
  line-height: 170%;
}

h2 {
  color: #314438;
  font-weight: 400;
  line-height: 120%;
}
.utility-bar {
  background: #314438;
  font-size: 0.9rem;
  padding: 10px;
}
.utility-bar a {
  color: white;
}

.custom-header-container {
  width: 100%;
  border-bottom: solid 1px green;
  padding: 0px;
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-menu-container {
  padding: 10px 13px;
}
.logo {
  max-width: 6em;
  width: auto;
  margin-left: 20px;
}

.custom-shop-header {
  display: flex;
  align-items: center;
}

.language {
  border: solid 1px #3144385e;
  text-align: center;
  padding: 2px 5px;
}

.language::before {
  vertical-align: middle;
  content: "";
  border-radius: 50%;
  background: url(./images/flag-USD.svg) no-repeat;
  margin: auto;
  background-size: cover;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  height: 20px;
}

.shopping-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
/* Banner styles */

.banner .container {
  padding: 0px;
}

.banner-container {
  position: relative;
  padding: 0px;
  margin: 0px;
}
.banner-content-text {
  position: absolute;
  text-align: center;
  top: 50px;
}

.banner-title {
  font-size: 42px;
  letter-spacing: -0.03em;
}

.banner-heading {
  font-size: 18px;
  color: #314438;
  font-weight: normal;
}

.button-link {
  max-width: 310px;
  height: 51px;
  background: #314438;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px 25px;
}

.banner-sub-heading {
}

.banner-sub-heading p {
  font-size: 12px;
  color: #314438;
  text-transform: uppercase;
  font-weight: normal;
}

.banner-sub-heading p > a {
  transition: all 0.2s linear;
  color: inherit;
  text-decoration: none;
}

.banner-image-mobile {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 180px);
  object-fit: contain;
  object-position: bottom;
}

/* Shopify */
.shopify-section {
  border-bottom: solid 1px #31443830;
}

.shopify-section > .container {
  padding: 30px;
}

.shopify-section-container {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.shopify-heading {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #314438;
}

.shopify-companies {
  justify-content: center;
  align-items: center;
}

.shopify-companies ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.shopify-companies ul li {
  list-style: none;
  width: 25%;
}

.shopify-companies-item {
  max-width: 100%;
  max-height: 100%;
}

.section-heading {
  font-size: 2em !important;
  text-align: center;
  margin: 0;
}

.heading-padding-bottom {
  padding-bottom: 40px;
}

.group-environement {
}

.group-environement ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-environement > ul > li {
  position: relative;
  padding: 10px;
}

.img-environement {
  width: 100%;
  max-width: 100%;
  height: 330px;
}

.environement-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.env-title {
  margin: 0;
  padding: 5px 120px 0 30px;
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.env-nav-arrow {
  background: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.section-container-environements {
  padding-top: 90px;
}

.products-container h2 {
  padding-top: 90px;
  text-transform: uppercase;
  display: block;
}
.section-products {
}

.group-products {
}

.group-products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-products > ul > li {
  position: relative;
  padding: 10px;
}

.product-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.product-link {
  position: absolute;
  display: block;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}

.product-nav-title {
  font-weight: bold;
  font-size: 26px;
  color: #314438;
  margin: 0;
  display: block;
  padding-bottom: 5px;
}

.product-nav-sub-title {
  font-size: 16px;
  color: #314438;
  display: inline-block;
  transition: all 0.3s;
}

.product-heading {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 170%;
}

.global-green-btn {
  display: block;
  max-width: 207px;
  height: 51px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #314438;
  padding: 12px 25px;
  border: 2px solid #314438;
  margin:  75px auto;
}

.section-feature{
  background: #f3eeea;
}