h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fran;
  font-weight: 400;
  font-size: normal;
  letter-spacing: 0.02rem;
  line-height: 170%;
  font-family: "Frank Ruhl Libre", serif;
}
p,
li,
input {
  font-family: "Quicksand", sans-serif;
}

h2 {
  color: #314438;
  font-weight: 400;
  line-height: 120%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.utility-bar {
  background: #314438;
  font-size: 0.9rem;
  padding: 10px;
  height: 83px;
  text-align: center;
  align-items: center;
}
.utility-bar a {
  color: white;
  text-align: center;
}

.custom-header-container {
  width: 100%;
  border-bottom: solid 1px green;
  padding: 0px;
  background: #f3eeea;
  display: flex;
}

.main-header-container {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.logo-menu-container {
  padding: 10px 13px;
}
.logo {
  max-width: 6em;
  width: auto;
  margin-left: 20px;
}

.nav-menu-container {
  width: 100%;
  background: white;
  position: fixed;
  height: 100vh;
  top: 150px;
  left: 0px;
  padding: 10px 0px;
}

.product-menu-container {
}

.product-menu-container > ul {
  margin: 0;
  padding: 0;
}

.product-menu-container > ul > li {
  border-bottom: 1px #31443830 solid;
  list-style: none;
  padding: 10px 0px 10px 20px;
}

.help-menu-container > ul {
  margin: 0;
  padding: 0;
}

.help-menu-container > ul > li {
  list-style: none;
  padding: 10px 20px;
  border-bottom: 1px solid #31443830;
}

.nav-header-item {
  text-transform: none;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #314438;
  font-weight: bold;
  font-size: 20px;
  padding: 0 1rem;
}

.custom-shop-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.language {
  border: solid 1px #3144385e;
  text-align: center;
  padding: 6px 8px;
}

.language::before {
  vertical-align: middle;
  content: "";
  border-radius: 50%;
  background: url(./images/flag-USD.svg) no-repeat;
  margin: auto;
  background-size: cover;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  height: 20px;
}

.shopping-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.product-menu-nav {
  position: relative;
  width: 100%;
}

.product-menu-nav > .icon {
  position: absolute;
  top: 10px;
  right: 20px;
  box-sizing: content-box;
  padding: 0.5em;
}

.submenu {
}

.submenu ul {
  padding: 10px 0px 10px 20px;
}

.submenu ul li {
  list-style: none;
  display: flex;
}

.submenu-link {
  width: 500px;
  color: #314438;
}

.submenu-item {
  width: 100%;
  position: relative;
  padding: 10px;
}

.submenu-item > .icon {
  position: absolute;
  top: 5px;
  right: 20px;
  box-sizing: content-box;
  padding: 0.5em;
}

.submenu-menu {
}

.submenu-menu ul li {
  padding: 10px;
}

.submenu-menu-item {
  color: #314438;
  font-weight: normal;
  font-size: 16px;
}

.help-menu-item {
  position: relative;
}

.help-menu-item > .icon {
  position: absolute;
  top: 10px;
  right: 20px;
  box-sizing: content-box;
  padding: 0.5em;
}
/* Banner styles */
.banner {
  margin-top: 128px;
}

.banner .container {
  padding: 0px;
}

.banner-container {
  position: relative;
  padding: 0px;
  margin: 0px;
}
.banner-content-text {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
  padding: 0 20px;
}

.banner-title {
  font-size: 42px;
  letter-spacing: -0.03em;
  color: #314438;
  line-height: 110%;
}

.banner-title i {
  text-decoration: underline;
  text-decoration-color: #8cc1d2;
}

.banner-heading {
  font-size: 18px;
  color: #314438;
  font-weight: normal;
}

.button-link {
  max-width: 310px;
  height: 51px;
  background: #314438;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px 25px;
}

.banner-sub-heading {
}

.banner-sub-heading p {
  font-size: 12px;
  color: #314438;
  text-transform: uppercase;
  font-weight: normal;
}

.banner-sub-heading p > a {
  transition: all 0.2s linear;
  color: inherit;
  text-decoration: none;
}

.banner-image-desktop {
  max-width: 100%;
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.banner-image-mobile {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 180px);
  object-fit: cover;
  object-position: bottom;
}

/* Shopify */
.shopify-section {
  border-bottom: solid 1px #31443830;
}

.shopify-section > .container {
  padding: 30px;
}

.shopify-section-container {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.shopify-heading {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #314438;
}

.shopify-companies {
  justify-content: center;
  align-items: center;
}

.shopify-companies ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}

.shopify-companies ul li {
  list-style: none;
  width: 25%;
  justify-items: center;
}
.shopify-companies ul li p {
  margin: auto;
}

.shopify-companies-item {
  max-width: 100%;
  max-height: 100%;
}

.section-heading {
  font-size: 2em !important;
  text-align: center;
  margin: 0;
}

.heading-padding-bottom {
  padding-bottom: 40px;
}

.group-environement {
}

.c-env-item {
  padding-top: 10px;
}
.c-product-item {
  padding-top: 10px;
}

.img-environement {
  width: 100%;
  max-width: 100%;
  height: 330px;
}

.environement-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.env-title {
  margin: 0;
  padding: 5px 120px 0 30px;
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.env-subheading {
  margin: 0;
  padding: 5px 120px 0 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.env-nav-arrow {
  background: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.section-container-environements {
  padding-top: 90px;
}

.products-container h2 {
  padding-top: 90px;
  text-transform: uppercase;
  display: block;
}
.section-products {
}

.group-products {
}

/* ` */

.product-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.product-link {
  position: absolute;
  display: block;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}

.product-nav-title {
  font-weight: bold;
  font-size: 26px;
  color: #314438;
  margin: 0;
  display: block;
  padding-bottom: 5px;
}

.product-nav-sub-title {
  font-size: 16px;
  color: #314438;
  display: inline-block;
  transition: all 0.3s;
}

.product-heading {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 170%;
}

.c-iwt-row {
  padding-top: 90px;
}

.c-feature-heading {
  text-align: center;
}

.c-feature-heading h2 {
  font-size: 2em;
}

.c-feature-heading p {
  font-size: 16px;
}

.global-green-btn {
  display: block;
  max-width: 207px;
  height: 51px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #314438;
  padding: 12px 25px;
  border: 2px solid #314438;
  margin: 50px auto;
}

.section-feature {
  background: #f3eeea;
}

.img-feature {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-feature-container {
  max-width: 30%;
  top: 2px;
  position: relative;
  height: 130px;
}

.c-feature {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-feature-decs {
  padding-top: 15px;
  font-size: 14px;
  color: #314438;
  margin: 0;
  width: 70%;
  font-weight: bold;
}

.team-offices-container {
  background: white;
  position: relative;
}

.feature-team-office {
  position: absolute;
  display: block;
  top: -10px;
  left: 50%;
  color: white;
  text-align: center;
  background: #8cc1d2;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateX(-50%) rotate(-3deg);
  border-radius: 1px;
}

.section-feature > .container {
  padding: 90px 0;
  width: 90%;
}

.video-container {
  position: relative;
}

.c-v-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.c-v-overlay {
  box-shadow: inset 0px -200px 125px -125px #000000de;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.c-main-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 99;
}

.c-background-play {
  position: absolute;
  width: 92px;
  height: 92px;
  place-content: center;
  background: #8dc0d2;
  color: white;
  transition: 0.3s;
  border-radius: 50%;
  display: grid;
}

.c-background-play.desktop {
  display: none;
}

.c-background-play.mobile {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play-pause-button {
  font-size: 24px;
  cursor: pointer;
}

.c-v-content {
  position: absolute;
  z-index: 9;
  bottom: 30px;
  left: 30px;
  padding-right: 30px;
  color: white;
}

.c-v-preheading {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: 8px;
}

.c-v-heading {
  font-size: 28px;
}

.c-iwt-section {
  padding: 0px 0;
}

.c-iwt-graph {
  width: 100%;
  order: 1;
}

.c-iwt-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.c-iwt-heading {
  font-size: 28px;
  text-align: center;
  color: #314438;
}

.c-iwt-text {
  text-align: center;
  font-size: 16px;
  color: #314438;
}

.c-iwt-text-container {
  padding: 0 20px;
  order: 2;
  margin: 40px 0;
}

.c-rv-container {
  padding-top: 90px;
}

.c-bs-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.c-bs-arrow-left svg {
  transform: rotate(180deg);
}

.c-bs-slider-nav {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.c-bs-header {
  display: flex;
  width: 100%;
}

.c-bs-header h3 {
  font-size: 40px;
  color: #314438;
  font-weight: normal;
  margin: auto;
}

.c-bs-item {
  width: 325px;
  background: white;
}

.c-bs-item-text-content {
  padding: 20px 25px;
}

.c-bs-item > img {
  width: 100%;
  height: auto;
}

.c-bs-item-title {
  font-weight: bold;
  font-size: 16px;
  color: #314438;
  margin: 0;
}

.c-bs-item-price {
  font-weight: normal;
  font-size: 14px;
  color: #314438;
}

.c-bs-item-price .origin-price {
  text-decoration: line-through;
  opacity: 0.6;
}

.c-bs-item-vendor {
  font-weight: normal;
  font-size: 14px;
  color: #314438;
  opacity: 0.6;
}

.c-seller-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.c-slide-item {
}

.c-item-gallery {
  width: 100%;
  max-width: 100%;
  height: 210px;
  object-fit: cover;
}
.c-item-row {
  padding-left: 10px;
}
.c-item-container {
  padding: 0px 10px 10px 0px;
}

.c-shop-heading {
  font-size: 36px;
  text-align: center;
  color: #314438;
}
.section-shop {
  background: #f3eeea;
}
.c-shop-container {
  padding: 80px 25px;
}

.section-gallery > .container {
  padding: 10px 20px;
  max-width: 100%;
}

.container-info {
  background: #314438;
  color: #f3eeea;
}

.footer-container {
  padding: 40px 20px;
}

.c-footer-brand {
  max-width: 40%;
}

.c-address {
  opacity: 0.6;
}
.address {
  font: inherit;
  margin-top: 10px;
}

.social-links-container {
  display: flex;
}

.social-links-container a {
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #314438;
  margin-right: 0.5em;
  margin-top: 15px;
  display: grid;
  padding: 8px;
}

.svg .icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  overflow: visible;
}

svg .icon-instagram {
  font-size: 0em;
  width: 0em;
  height: 0em;
}

.footer-links {
  text-align: left;
  margin-top: 20px;
}

.footer-links .item-title {
  font-size: 14px;
  opacity: 0.4;
  padding-bottom: 8px;
  color: #f3eeea;
  text-transform: uppercase;
}
.footer-links ul {
  padding: 0;
  margin: 0;
  line-height: 150%;
}
.footer-links ul li {
  list-style: none;
}

.footer-links ul li a {
  font-family: inherit;
  color: #f3eeea;
  font-size: 14px;
}

.mailing-list {
  margin-top: 30px;
}

.mail-title {
  font-weight: bold;
  font-size: 14px;
  opacity: 0.4;
  color: white;
  text-transform: uppercase;
}

.form-wrap {
  display: flex;
}

.form-wrap .required-email {
  width: 80%;
  margin: 0;
  background: #ffffff1f;
  color: #ffffff61;
  border: none;
  padding: 1em;
  text-transform: uppercase;
}

.form-wrap .btn {
  background: #ffffff1f;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 20%;
}

.footer-container {
  padding: 5em 0;
}

.session-best-sellers {
  background: #f3f0ed;
}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
}

.slick-slide {
  margin: 10px;
  opacity: 0.3;
}

.slick-slide img {
  width: 100%;
  border: 0px solid #fff;
}

.slick-active {
  opacity: 1;
}

.c-rv-title {
  font-size: 28px;
  text-align: center;
}

.c-rv-quote-icon {
  text-align: center;
  padding: 20px;
}

.c-rv-item-decs {
  font-weight: normal;
  font-size: 16px;
  color: #314438;
  text-align: center;
}

.c-rv-personal-avartar {
  width: 20%;
  margin: 0;
}

.c-rv-personal-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.c-rv-personal-avartar img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  margin-bottom: 5px;
  margin: auto;
}

.c-t-name {
  order: 2;
  font-weight: bold;
  font-size: 14px;
  color: #314438;
  margin: 0;
}

.c-t-job-title {
  order: 3;
  font-weight: normal;
  font-size: 14px;
  color: #314438;
  opacity: 0.7;
  padding-bottom: 8px;
  min-height: 55px;
}

.c-t-text {
  font-weight: normal;
  font-size: 14px;
  color: #314438;
  letter-spacing: 0;
  word-spacing: -1px;
  order: 1;
}

.c-personal-col {
  padding: 20px;
}

.c-company-container {
  margin: auto;
}

.c-rv-personal-item {
  display: flex;
  padding: 10px;
  width: 100%;
  padding: 40px 10px;
  border: none;
  flex-direction: row;
}

.c-rv-slider {
  border-bottom: solid 1px #bb314438;
}
@media (min-width: 768px) {
  .utility-bar {
    height: 62px;
  }

  .banner-title {
    font-size: 60px;
    font-weight: normal;
    letter-spacing: -0.03em;
  }

  .shopify-companies ul li {
    width: 16.6%;
    padding: 0 15px;
  }

  .section-heading {
    font-size: 40px !important;
  }
  .img-environement {
    height: 430px;
  }

  .product-heading {
    font-size: 26px;
  }

  .product-nav-title {
    line-height: 120%;
  }

  .c-feature-heading h2 {
    font-size: 3em;
  }

  .c-feature-heading p {
    font-size: 16px;
  }

  .c-feature-line {
    display: flex;
  }

  .team-offices-container {
    display: flex;
  }

  .c-feature {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
  }

  .img-feature-container {
    max-width: 100%;
    height: auto;
  }
  .c-feature-decs {
    width: 100%;
  }
  .c-v-video {
    height: 550px;
  }

  .c-iwt-section {
    padding: 100px 0;
  }

  .c-iwt-text-container {
    z-index: 2;
    margin: auto 0;
  }

  .c-iwt-heading {
    text-align: left;
  }
  .c-iwt-text {
    text-align: left;
  }

  .c-iwt-btn {
    margin: 0 0;
  }

  .c-iwt-graph {
    order: 3;
  }

  .c-background-play.desktop {
    display: grid;
    position: relative;
    margin: auto;
  }

  .c-v-content {
    display: flex;
    margin-left: 100px;
    bottom: 90px;
  }

  .c-v-content-text {
    margin-left: 40px;
  }

  .footer-links {
    margin-top: 0px;
  }

  .mailing-list {
    margin-top: 0px;
  }

  .c-footer-brand {
    max-width: 100%;
  }

  .c-bs-header h3 {
    margin-right: auto;
    margin-left: 0;
  }

  .c-iwt-row {
    padding-top: 0px;
  }

  .c-rv-personal-item {
    border: 1px solid #3144382b;
    border-radius: 2px;
    text-align: center;
    padding: 25px;

    flex-direction: column;
    margin: 15px 0px;
  }

  .c-rv-personal-avartar {
    margin: auto;
  }

  .c-t-name {
    order: 1;
  }

  .c-t-job-title {
    order: 2;
  }

  .c-t-text {
    order: 3;
  }

  .c-rv-personal-content {
    margin: auto;
  }

  .c-rv-slider {
    border-bottom: none;
  }

  .c-rv-title {
    font-size: 36px;
    text-align: left;
  }

  .c-rv-quote-icon {
    text-align: left;
    padding: 20px 0px;
  }

  .c-rv-item-decs {
    text-align: left;
  }
}
